{% extends "base.html" %}

{% block content %}
<style>
  .no-underline-link {
    text-decoration: none;
    color: black;
  }
</style>

<div class="container">
  <h1>List Stock</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>  <!-- Added column for Actions -->
      </tr>
    </thead>
    <tbody>
      {% for stock in object_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'equipments:update_stock' stock.pk %}" class="no-underline-link">{{ stock.name }}</a></td>
        <td>{{ stock.description }}</td>
        <td>
          <a href="{% url 'equipments:update_stock' stock.pk %}" class="btn btn-primary">Update</a>  <!-- View button -->
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No stock available.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </span>
      </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </span>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}
